:root {
    --cor-cinza: #f8f7f7;
    --cor-cinza-medio: #c8c4c1;
    --cor-roxo-medio: #bdbbba;
    --cor-roxo-escuro: #846c71;
    --cor-roxo-claro: #cac7c3;
    --cor-branco: #fff;
    --cor-roxo: #a57f8a;
}

body {
    background-color: var(--cor-branco);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h3, h3, h4, h5, h6 {
    color: var(--cor-roxo-escuro);
}
h2, h4{
    text-align: center;
}

/**
 * Estilos Cabeçalho
 */
 .cabecalho {
    background-color: var(--cor-cinza);
    color: var(--cor-roxo-escuro);
}

.navegacao {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin: 0 5px;
}

.logo {
    width: 100px;
}


.acesso.botao {
    margin-right: 5px;
    margin-left: auto;
}

main {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

/** 
 * Estilos Rodapé
 */
 .rodape {
    background-color: var(--cor-cinza-medio);
    color: var(--cor-roxo-escuro);
    text-align: center;
    padding: 4px 0;
}

@media screen and (max-width: 650px) {

    .navegacao {
        display: block;
        position: relative;
    }


    .navegacao.ativo {
        padding-bottom: 8px;
    }

    .navegacao.ativo a:not(:first-child):not(.menu-icone) {
        display: block;
        padding: 8px 8px;
    }

    .navegacao.ativo .acesso.botao {
        display: block;
        width: 6em;
        text-align: center;
        margin: 5px auto;
    }

    .menu-icone {
        display: block;
        position: absolute;
        right: 8px;
        top: 10px;
    }

}

.media-list {
    list-style: none;
}

.media-list li {
    display: inline-block;
}

.media-link {
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--cor-roxo);
    display: block;
    height: 20px;
    text-indent: -9999px;
    width: 20px
}

.media-link.facebook { background-image: url("imagens/facebook-3-64.png"); }
.media-link.instagram { background-image: url("imagens/instagram-64.png"); }

/**
  * Estilos de Botões 
  */
  .botao {
    background-color: var(--cor-roxo-medio);
    border: 1px solid var(--cor-roxo-medio);
    border-radius: 16px;
    color: var(--cor-roxo);
    cursor: pointer;
    font-weight: 800;
    padding: 8px 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.botao.enviar {
    border: 1px solid var(--cor-roxo);
    color: var(--cor-roxo-escuro);
}

.botao.limpar {
    border: 1px solid var(--cor-roxo);
    color: var(--cor-roxo-escuro);
}

.favicon {
    border-radius: 100px;
}