<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title> Rafaella Costa Fotografia | Área do usuário</title>
    <link class="favicon" rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/forms.css" />
    <script type="text/javascript" src="../js/jquery.js" ></script>
    <script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
    <header class="cabecalho">
        <nav class="navegacao">
            <a href="area_do_usuario.html">
                <img alt="logo Rafaella Costa" class="logo" src="../imagens/marcadagua.png" />
            </a>
            <a class="botao acesso" href="/templates/">Cadastre-se</a>
            <a class="menu-icone" href="#"></a>
            </nav>
    </header>
    <main>
        <h1>Área do usuário</h1>
        <h3>Bem vindo!</h3>
    </main>
    <footer>
        <div class="rodape">
            <ul class="media-list" >
                <li>
                    <a class="media-link facebook" href="https://www.facebook.com/faellacostafoto/" target="blank">Facebook</a>
                </li>
                <li>
                    <a class="media-link instagram" href="https://www.instagram.com/faellacostafoto/" target="blank">Instagram</a>
                </li>
            </ul> 
            <p>2021 Rafaella Costa | Fotografia Afetiva º 11 95874-0247 - Todos os direitos reservados.</p>  
        </div> 
    </footer>
</body>
</html>